* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;

  font-family: "Lato", sans-serif;
}

/* section 1 starts from here  */

.section1 {
  display: flex;
  width: 1920px;
  height: 850px;
  flex-shrink: 0;

  background-color: #e554731a;
}

.section1-left-side {
  margin-top: 137px;
  margin-left: 240px;
}

.section1-title {
  display: flex;
  width: 708px;

  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
}

.sub {
  margin-top: 25px;
  color: rgb(134, 146, 156);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 600px;
}

.flower-1 {
  /* width: 500px;
  height: 600px; */
  margin-top: 50px;
  margin-left: 50px;
  width: 635px;
  height: 800px;
}

.btn-1 {
  border-radius: 5px;
  border: 0;
  width: 167px;
  height: 65px;
  background: #e55473;
  color: #fff;

  font-size: 20px;
}

.btn-shop {
  margin-top: 30px;
  margin-right: 3px;
}

/* section 1 Ends here  */

/* section 2 Starts here  */

.part1 {
  margin-top: 190px;
  text-align: center;
}

.div1 {
  width: 1004px;
  height: 450px;
  background-color: #a7216226;
  /* border-radius: 120px 120px 0px 0px; */
  border-radius: 300px 300px 0px 0px;
}

.div2 {
  width: 1004px;
  height: 450px;
  background-color: #0597a026;
  border-radius: 300px 300px 0px 0px;
}

.div3 {
  width: 1004px;
  height: 450px;
  background-color: #477d1126;
  border-radius: 300px 300px 0px 0px;
}

.part2 {
  display: flex;
  gap: 30px;
  margin: 0px 440px 0 440px;
}

.img1 {
  width: 250px;
  height: 300px;
  padding-top: 150px;
  padding-left: 25px;
}

/* section 2 ends here  */

/* Section 3 starts here  */
.section3 {
  margin-top: 200px;
  display: flex;
  width: 1920px;
  height: 550px;
  flex-shrink: 0;

  background-color: #fef6f8;
}

.sec3_both {
  margin-top: 200px;
  margin-left: 500px;
  width: 500px;
  text-align: center;
  padding-top: 20px;
}

.para {
  margin-top: 10px;
}

.btn-flower {
  margin-top: 20px;
}

.sec3-right {
  margin-top: 100px;
  margin-left: 200px;
}

/* Section 3 Ends here  */

/* Section 4 starts here  */
.section4 {
  margin-top: 150px;
  width: 1920px;
  height: 650px;
}

.section4_heading {
  text-align: center;
  margin-bottom: 50px;
}

.section4_below {
  text-align: center;
}

.section4_below img {
  margin-right: 20px;
}

/* Section 4 Ends here  */

.section5 {
  background-color: #e55473;
  margin-top: 5px;
  width: 1456px;
  height: 450px;
  margin-left: 225px;
  margin-right: 225px;

  background-image: url("/Flower Asset/Rectangle 9.png");
  margin-bottom: 2px;
}

.section5_title {
  text-align: center;
}

.section5upper {
  padding-top: 160px;
}

.input_field {
  margin-top: 30px;
}

.inputme {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: 0;
}

.btn-3 {
  border-radius: 5px;
  border: 0;
  width: 157px;
  height: 60px;
  background: #e55473;
  color: #fff;

  font-size: 20px;
}

input::placeholder {
  color: #999999; /* Placeholder text color */
  padding-left: 25px;
}

.getDeal {
  font-size: large;
  font-size: 40px;
}

.thirty {
  margin-top: 10px;
  color: #27272799;
}

.section6 {
  text-align: center;
  color: white;
  background-color: #111010;
  margin-top: 200px;
  width: 1922px;
  height: 349px;
  flex-shrink: 0;
  padding-top: 128px;
}

.bonus {
  background-image: url("./Flower Asset/bg.jpg");
  margin-top: 200px;
  width: 1922px;
  height: 449px;
  background-size: cover;
}

.bonus-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-bonus {
  margin-top: 120px;
}

.blue {
  margin-right: 220px;
}

.ExtraSection {
  margin-top: 150px;
  margin-left: 440px;
  background-color: #2727270d;
  width: 1035px;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
